* {
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
	width: 2px;
}

a{
	color: #30c18c;
}

p.page-title{
	font-weight: bold;
}

#page-title{
	text-align: center;
	padding: 10px;
	font-size: 30;
	position: fixed;
	top: 0%;
	width: 100%;
	background-color: white;
}

#botui-app{
	position: fixed;
	width: 100%;
	height: 100vh;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 70px;
	margin-bottom: 80px;
}