body{
	
}

::-webkit-scrollbar {
	width: 2px;
}

a{
	color: #30c18c;
}

.page-title{
	text-align: center;
	padding: 2%;
	font-size: 30;
}

p.page-title{
	font-weight: bold;
}

#page-title{
	position: fixed;
	top: 0%;
	height: 15%;
	width: 100%;
}

#botui-app{
	position: absolute;
	top: 15%;
	height: 85%;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}