<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>BotUI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/botui/build/botui-theme-default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.min.css" />

	<!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://unpkg.com/botui/build/botui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />


</head>
<body>
	<div class="page-title">
		<p><b>MRT Research Bot</b></p>
	</div>
	<div class="botui-app-container" id="botui-app">
	  <bot-ui></bot-ui>
	</div>

    <script>
      var botui = new BotUI('botui-app');

      function returnData(name){
      	var result = null;
      	$.ajax({
      		url: "/ask?resp="+name,
      		type: "get",
      		dataType: "html",
      		async: false,
      		success: function(data){
      			result=data;
      		}
      	});
      	return result;
      }

      function conversation() {
      	botui.message.add({
      		content: "Questions you can ask me"
      	}).then( function() {
      		return botui.action.button({
      			action: [{
      				text: "What is COVID-19?",
      				value: "COVID-19 is a disease that causes fever, and could lead to complications for vulnerable individuals."
      			},{
      				text: "What treatments are available?",
      				value: "Symptomatic and supportive care are current treatments. Specific treatments for COVID-19 are currently undergoing research."
      			},{
      				text: "What are symptoms of COVID-19?",
      				value: "Fever, cough, fatigue, shortness of breath, and loss of smell and taste are common COVID-19 symptoms."
      			}]
      		})
      	}).then(function(res) {
      		console.log(res.value);
      		result = returnData(res.value);
      		botui.message.add({
      			content: result
      		})

      	}).then(function() {

      		conversation();
      	})
      }

      botui.message.add({
      	content: "Hi! I'm a chatbot designed by the Marianopolis Research Team that streamlines information that have been documented by our team."
      }).then( function() {
      	botui.message.add({
      		content: "You can always learn more about us or get in touch by visiting our website."
      	})
      }).then(function() {
	      conversation();
      })

    </script>

</body>
</html>